*.pyc
.idea/
dist/
*.egg-info/
.ipynb_checkpoints/
.venv/
poetry.lock
docs/_build/

.hypothesis/

# Coverage files
.coverage
coverage.txt

# Vendor dependencies
hub/vendor/
docs/_static/vendor/

docs/reference/generated/
hub/schema.json
